html,
body {
  height: 100%;
}

#authenticate {
  margin: auto;
  margin-top: 10vh !important;
}

#authenticateContainer {
  height: 100%;
  width: 100%;
  margin: 0;
}

#imageDiv {
  background: url("../login.png") no-repeat;
  background-size: cover;
  height: 100vh;
}
#formDiv {
  height: 100vh;
  padding-top: 20vh;
}

.title {
  color: rgb(92, 123, 130);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.labels {
  color: rgb(135, 162, 168);
  font-weight: lighter;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error {
  color: rgb(197, 161, 145);
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-sidebar {
  color: rgb(214, 234, 238);
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5vh;
}

.userTitle {
  color: rgb(92, 123, 130);
  font-weight: bold;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.journalTitle {
  color: rgb(117, 151, 158);
  font-weight: normal;
  font-size: 1.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userTitleS {
  color: rgb(231, 221, 211);
  font-weight: bold;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.journalTitleS {
  color: rgb(201, 191, 182);
  font-weight: normal;
  font-size: 1.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  background: url("../hero.png") no-repeat;
  background-size: cover;
  height: 20vh;
}
.btn-primary {
  background-color: rgb(92, 123, 130);
  border-color: rgb(92, 123, 130);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: rgb(190, 181, 172);
  border-color: rgb(190, 181, 172); /*set the color you want here*/
}

.btn-secondary {
  background-color: rgb(166,143,130);
  border-color: rgb(166,143,130);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active.active,
.open > .dropdown-toggle.btn-secondary {
  color: #fff;
  background-color: rgb(139, 109, 91);
  border-color: rgb(139, 109, 91); /*set the color you want here*/
}
a {
  color: rgb(92, 123, 130);
}
a:hover,
a:focus {
  color: rgb(190, 181, 172); /*set the color you want here*/
}
.logo {
  align-self: center;
  color: rgb(92, 123, 130);
  font-weight: bold;
  font-family: "Lato";
}
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
}
ul.sidebar-panel-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 30vh !important;
  text-align: left;
}
ul.sidebar-panel-nav > li > a {
  color: rgb(201, 191, 182);
  text-decoration: none;
  font-size: 1.4rem;
  padding-bottom: 0.5em;
  line-height: 56px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
}
.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}
.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
.sidebar-panel {
  overflow-y: auto;
  background-color: rgb(92, 123, 130);
  opacity: 90%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  padding: 3rem 30px 2rem 30px;
  display: inline-block;
  text-align: left;
}
.hidden {
  visibility: hidden;
}
button {
  cursor: pointer;
}
/* remove blue outline */
button:focus {
  outline: 0;
}
.burger-button {
  position: relative;
  height: 30px;
  width: 32px;
  display: block;
  z-index: 999;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  pointer-events: all;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger-bar {
  background-color: #130f40;
  position: absolute;
  top: 50%;
  right: 6px;
  left: 6px;
  height: 2px;
  width: auto;
  margin-top: -1px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger-bar--1 {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}
.burger-bar--2 {
  transform-origin: 100% 50%;
  transform: scaleX(0.8);
}
.burger-button:hover .burger-bar--2 {
  transform: scaleX(1);
}
.no-touchevents .burger-bar--2:hover {
  transform: scaleX(1);
}
.burger-bar--3 {
  transform: translateY(6px);
}
#burger.active .burger-button {
  transform: rotate(-180deg);
}
#burger.active .burger-bar {
  background-color: #fff;
}
#burger.active .burger-bar--1 {
  transform: rotate(45deg);
}
#burger.active .burger-bar--2 {
  opacity: 0;
}
#burger.active .burger-bar--3 {
  transform: rotate(-45deg);
}

.entryDiv {
  padding-top: 10vh;
  height: 100vh;
  width: 100vw;
}

#entryCard {
  margin: auto;
  width: 70vw;
}
#entryCardBody {
  width: 70vw;
  display: inline-block;
  text-align: left;
}


#categoryCard {
  margin: auto;
  width: 60vw;
}
#categoryCardBody {
  width: 60vw;
  display: inline-block;
  text-align: left;
}

.drop1 {
  float: left; /* add this */
  width: 80%;
}
.drop2 {
  overflow: hidden;
}

.listOfEntries{
  width: 80vw;
  margin:auto;
}

.description{
  font-weight:bold;
  font-size: 20px;
}
.feeling{
  font-style:italic;
  font-size: 12;
}