html,
body {
  height: 100%;
}

#authenticate {
  margin: auto;
  margin-top: 10vh !important;
}

#authenticateContainer {
  height: 100%;
  width: 100%;
  margin: 0;
}

#imageDiv {
  background: url("../login.png") no-repeat;
  background-size: cover;
  height: 100vh;
}
#formDiv {
  height: 100vh;
  padding-top: 20vh;
}

.title {
  color: rgb(92, 123, 130);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn {
  background-color: rgb(92, 123, 130);
  border-color: rgb(92, 123, 130);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active.active,
.open > .dropdown-toggle.btn {
  color: #fff;
  background-color: rgb(190, 181, 172);
  border-color: rgb(190, 181, 172); /*set the color you want here*/
}

a {
  color: rgb(92, 123, 130);
}

a:hover,
a:focus {
  color: rgb(190, 181, 172); /*set the color you want here*/
}
